<h1> All Tasks </h1>

<%= link_to 'Add a new Task', new_path , class: "link-title" %>


<% @tasks.each do |task| %>

    <div class="task-box box">
    <input type="checkbox"/>
    <h3><%= link_to task.title, task_path(task["id"]), class: "link-title" %></h3>


    <%= link_to 'delete', delete_path(task["id"]) , class: "link-title" %>


    </div>



<% end %>
