/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  font-weight: 300;
}

h2{
  padding: 0;
}

.box{
  background-color: rgb(243, 243, 243);
  border-radius: 16px;
  border: solid 1px rgb(227, 227, 227);
  margin-bottom: 1em;
  padding: 1em;
  min-width: 300px;
}

.btn{
  padding: 1em;
  color: rgb(255, 255, 255);
  border-radius: 16px;
  background-color: #007BFF;
  min-width: 300px;
  text-align: center;
  margin-bottom: 2em;
}

.btn:hover{
  background-color: #58a9ff;
}

.task-box{
 display: flex;
 flex-direction: row;
 gap: 1em;
 width: 50%;
 position: relative;
}
.task-box:hover{
 background-color: aliceblue;
 }

.task-box i {
color: red;
position: absolute;
right: 1em;
top: 1em;
cursor: pointer;
}

.link-title{
  text-decoration: none;
  color: #007BFF;
  font-weight: 300;
}
